<!DOCTYPE html>
<html class="noScroll">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/css/doc.css" rel="stylesheet">
    <link href="/css/files.css" rel="stylesheet">
    <link href="/css/info.css" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📁</text></svg>">

    <title>{{.CurrentDir}}</title>

    <head></head>

    <body>
        <div id="scroller">
            <table class="files">
                <thead>
                    <tr>
                        <th>
                            <div id="path">{{range $part := .PathParts}}
                                <a href="{{$part.Path}}" title="{{$part.Path}}">
                                    <span class="filename">{{$part.Dir}}</span>
                                    <span>/</span>
                                </a>{{end}}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>{{range $ent := .Entries}}
                    <tr>
                        <th title="{{$ent.Name}}">{{if $ent.IsDir}}
                            <a class="file dir" href="{{$ent.Name}}/">
                                <span class="filename">📁 {{$ent.Name}}</span>
                            </a>{{else}}
                            <a class="file" href="{{$ent.Name}}">
                                <span class="filename">📄 {{$ent.Name}}</span>
                            </a>{{end}}
                        </th>
                    </tr>{{end}}
                    <tr>
                        <th title="Upload">
                            <form id="file-upload" enctype="multipart/form-data" action="{{.Path}}?upload" method="post">
                                <label id="custom-uploader" class="file" for="uploader">
                                    ➕&nbsp<input id="uploader" type="file" name="upload_file" required />
                                </label>
                                <input id="upload_submit" type="submit" value="Upload" />
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>

            <table class="info">
                <thead>
                    <tr>{{ $sort := .Params.Get "sortBy" }}
                        <th class="sortable" title="Sort by size">
                            <a href="{{.Path}}?sortBy={{ if eq $sort "size" }}size_desc{{else}}size{{end}}">
                                <span>{{ if eq $sort "size" }}
                                    🔼 Size{{ else if eq $sort "size_desc" }}
                                    🔽 Size{{ else }}
                                    Size{{ end }}
                                </span>
                            </a>
                        </th>
                        <th class="sortable" title="Sort by modification time">
                            <a href="{{.Path}}?sortBy={{ if eq $sort "time" }}time_desc{{else}}time{{end}}">
                                <span>{{ if eq $sort "time" }}
                                    🔼 Last Modified{{ else if eq $sort "time_desc" }}
                                    🔽 Last Modified{{ else }}
                                    Last Modified{{ end }}
                                </span>
                            </a>
                        </th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>{{range $ent := .Entries}}
                    <tr>
                        <td>{{if not $ent.IsDir}}{{formatSize $ent.Size}}{{end}}</td>
                        <td>{{formatTime $ent.ModTime}}</td>
                        <td>{{formatMode $ent.Mode}}</td>
                    </tr>{{end}}
                </tbody>
            </table>
        </div>
    </body>
</html>
