<!DOCTYPE html>
<html class="noScroll">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="/css/doc.css" rel="stylesheet">
    <link href="/css/err.css" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{.Favicon}}</text></svg>">

    <title>{{.Title}}</title>
    <head></head>
    <body>
        <h1>{{.StatusCode}}</h1>
        <span>{{.Message}}</span>
    </body>
</html>
