@font-face {
    font-family: unispace;
    src: url("../assets/unispace_rg.otf") format("opentype");
}

@font-face {
    font-family: unispace;
    font-weight: bold;
    src: url("../assets/unispace_bd.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: unispace;
    font-size: 12px;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

#scroller {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
    height: fit-content;
}

table.files {
    position: sticky;
    flex: content;
    left: 0;
    z-index: 1;
    
    text-align: left;
}

table.files thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    color: white;
    background-color: rgba(76,76,76,1);
}

table.files tbody {
    backdrop-filter: blur(10px);
}

table.files .file {
    display: flex;
    width: 100%;
    height: 100%;
    
    padding: .5rem;
    align-items: center;
}

table.files .dir {
    background-color: rgba(0,0,0,.1);
}

table.info {
    flex: content;
    text-align: left;
}

table.info thead {
    position: sticky;
    top: 0;

    font-weight: bold;
    color: white;
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(10px);
}

td, table.info th, table.files thead th {
    padding: .5rem;
}

td, th {
    height: 3rem;
}

#file-uploader {
    cursor: pointer;
}

#file-uploader::file-selector-button {
    display: none;
}

#file-uploader::placeholder {
    font-weight: bold;
}

.custom-file-uploader {
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    height: 100%;
}

input[type="submit"] {
    width: 50%;
    padding: .5rem;
}
