@font-face {
    font-family: unispace;
    font-weight: normal;
    src: url("../assets/unispace/unispace_rg.otf") format("opentype");
}

@font-face {
    font-family: unispace;
    font-weight: bold;
    src: url("../assets/unispace/unispace_bd.otf") format("opentype");
}

@font-face {
    font-family: camingocode;
    font-weight: normal;
    src: url("../assets/camingocode/CamingoCode-Regular.ttf") format("truetype");
}

@font-face {
    font-family: camingocode;
    font-weight: bold;
    src: url("../assets/camingocode/CamingoCode-Bold.ttf") format("truetype");
}

@font-face {
    font-family: cousine;
    font-weight: normal;
    src: url("../assets/cousine/Cousine-Regular.ttf") format("truetype");
}

@font-face {
    font-family: cousine;
    font-weight: bold;
    src: url("../assets/cousine/Cousine-Bold.ttf") format("truetype");
}

@font-face {
    font-family: firacode;
    font-weight: normal;
    src: url("../assets/fira-code/FiraCode-Regular.otf") format("opentype");
}

@font-face {
    font-family: firacode;
    font-weight: bold;
    src: url("../assets/fira-code/FiraCode-Bold.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: firacode;
    font-size: 18px;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

#scroller {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
    height: fit-content;
}

td,
table.info thead th {
    padding: .5rem;
}

td,
th {
    height: 3rem;
}

a {
    text-decoration: none;
}
