table.files {
    position: sticky;
    left: 0;
    z-index: 1;
    min-width: 50%;
    width: 50%;

    table-layout: fixed;
    text-align: left;
}

/* Files list header */

table.files thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 102, 181, 1);
}

table.files thead tr th #path {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table.files thead tr th a {
    display: flex;
    align-items: center;
    height: 100%;

    padding-top: .5rem;
    padding-bottom: .5rem;

    /* min-width: 1rem; */

    color: rgba(255, 255, 255, .7);
}

table.files thead tr th a:hover {
    color: rgba(255, 255, 255, 1);
}

table.files thead tr th a:hover ~ a {
    color: rgba(255, 255, 255, 1);
}

table.files thead tr th a:first-child {
    padding-right: .5rem;
    flex-grow: 1;
}

table.files thead tr th a:not(:first-child):not(:last-child) {
    min-width: 2rem;
}

table.files thead tr th a:last-child {
    padding-left: .5rem;
}

/* Files list itself */

table.files tbody {
    backdrop-filter: blur(10px);
}

table.files tbody th .file {
    display: flex;
    height: 100%;
    width: 100%;

    padding: .5rem;
    align-items: center;

    background-color: rgba(48, 165, 255, .1);
}

table.files .filename {
    overflow: hidden;
    text-overflow: ellipsis;
}

table.files tbody th a.file {
    color: black;
}

table.files tbody th .dir {
    background-color: rgba(48, 165, 255, .2);
}

table.files tbody th form#file-upload {
    display: flex;
    width: 100%;
    height: 100%;
}

table.files tbody th form#file-upload #upload_submit {
    padding: .5rem;
    width: 50%;

    border: 0;
    cursor: pointer;

    background-color: rgba(48, 165, 255, 0.2);
}

table.files tbody th form#file-upload #custom-uploader {
    cursor: pointer;

    min-width: 50%;
}

table.files tbody th form#file-upload #custom-uploader #uploader::file-selector-button {
    display: none;
}
