table.info {
    flex: content;
    text-align: left;
    width: 100%;
}

table.info thead {
    position: sticky;
    top: 0;

    font-weight: bold;
    color: white;
    background-color: rgba(0, 103, 182, 0.4);
    backdrop-filter: blur(10px);
}

table.info tbody tr td {
    font-size: .7rem;
}
