table.files {
    position: sticky;
    top: 0;
    left: 0;

    flex-grow: 0;
    z-index: 1;
    min-width: 15rem;
    max-width: 50%;
    width: fit-content;

    table-layout: fixed;
    text-align: left;
}

/* Files list header */

table.files thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    
    width: 100%;

    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 102, 181, 1);
}

table.files thead tr {
    width: 100%;
}

table.files thead tr th #path {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table.files thead tr th a {
    display: flex;
    align-items: center;
    height: 100%;

    padding-top: .5rem;
    padding-bottom: .5rem;

    /* min-width: 1rem; */

    color: rgba(255, 255, 255, .7);
}

table.files thead tr th a:hover {
    color: rgba(255, 255, 255, 1);
}

table.files thead tr th a:hover~a {
    color: rgba(255, 255, 255, 1);
}

table.files thead tr th a:first-child {
    padding-right: .5rem;
    flex-grow: 1;
}

table.files thead tr th a:not(:first-child):not(:last-child) {
    min-width: 2rem;
}

table.files thead tr th a:last-child {
    padding-left: .5rem;
}

/* Files list itself */

table.files tbody {
    transform: translate3d(0, 0, 0);

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

table.files tbody th .file {
    display: flex;
    height: 3rem;
    width: 100%;

    padding: .5rem;
    align-items: center;

    background-color: rgba(0, 34, 255, .1);
}

table.files tbody th:hover .file {
    background-color: rgba(0, 34, 255, .05);
}

table.files .filename {
    overflow: hidden;
    text-overflow: ellipsis;
}

table.files tbody th a.file {
    color: black;
}

table.files tbody th .dir {
    background-color: rgba(0, 34, 255, .2);
}

table.files tbody th:hover .dir {
    background-color: rgba(0, 34, 255, .15);
}

table.files tbody th label#file-upload {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

table.files tbody th form input {
    appearance: none;
    -webkit-appearance: none;
}

table.files tbody th input[type=checkbox] {
    display: none;
}

table.files tbody th input[type=checkbox]:checked + dialog {
    opacity: 1;
}





/* table.files tbody th form#file-upload #upload_submit {
    padding: .5rem;
    width: 50%;

    border: 0;
    border-radius: 0;
    cursor: pointer;

    background-color: rgba(0, 34, 255, .2);
}

table.files tbody th form#file-upload #upload_submit:hover {
    padding: .5rem;
    width: 50%;

    border: 0;
    cursor: pointer;

    background-color: rgba(0, 34, 255, .05);
}

table.files tbody th form#file-upload #custom-uploader {
    cursor: pointer;

    min-width: 50%;
}

table.files tbody th form#file-upload #custom-uploader #uploader::file-selector-button {
    display: none;
} */
