#upload-open {
    z-index: 1;
    position: fixed;
    width: fit-content;
    right: 3rem;
    bottom: 2rem;

    display: block;
    padding: 1.5rem;
    
    background: rgba(0, 34, 255, .1);
    text-align: center;
    color: black;
    font-weight: bold;
    backdrop-filter: blur(10px);
}

#upload-open:hover,
#upload-open:focus {
    background: rgba(0, 34, 255, .2);
    cursor: pointer;
}

#upload-open:active {
    background: #0091cb;
}

#upload-close {
    display: inline-block;
    float: right;
    margin: 0 10px 0 0;
    padding: 6px 9px;

    background: #fc5e71;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

#upload-close:hover,
#upload-close:focus {
    background: #fc7787;
    cursor: pointer;
}

#upload-close:active {
    background: #fc455b;
}

#upload-modal .overlay {
    display: none;
    background: rgba(0, 34, 255, .1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
}

#upload-modal #upload-dialog {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 300px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
    background: #fff;
}

#upload-modal #upload-dialog {
    padding: .5rem;
}

#upload-modal input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

#upload-modal input[type=checkbox]:checked~.overlay {
    display: block;
}

#upload-modal input[type=checkbox]:checked~#upload-dialog {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    top: 20%;
    transform: translate(-50%);
}
