#upload-open {
    z-index: 1;
    position: absolute;
    width: fit-content;
    right: 3rem;
    bottom: 2rem;

    display: block;
    padding: 1.5rem;
    
    background: rgba(0, 34, 255, .1);
    text-align: center;
    color: black;
    font-weight: bold;
    backdrop-filter: blur(10px);
}
#upload-open:hover,
#upload-open:focus {
    background: rgba(0, 34, 255, .05);
    cursor: pointer;
}
#upload-open:active {
    background: rgba(0, 34, 255, 0.03);
}

#upload-submit {
    display: block;
    width: 100%;
    padding: 1.5rem;

    border: 0;
    border-radius: 0;

    background: rgba(0, 34, 255, .1);
    text-align: center;
    color: #000;
    font-weight: bold;
}
#upload-modal input[type=checkbox]:checked~.overlay {
    display: block;
}
#upload-submit:hover,
#upload-submit:focus {
    background: rgba(0, 34, 255, .05);
    cursor: pointer;
}
#upload-submit:active {
    background: rgba(0, 34, 255, 0.03);
}

#upload-modal .overlay {
    display: none;
    background: rgba(255,255,255, .2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
}
#upload-modal input[type=checkbox]:checked~.overlay {
    display: block;
}

#upload-modal #upload-picker input[type=file]::file-selector-button {
    display: inline-block;

    font-family: firacode;
    border: 0;
    border-radius: 0;
    padding: 1.5rem;

    background: rgba(0, 34, 255, .1);
}
#upload-modal #upload-picker input[type=file]::file-selector-button:hover,
#upload-modal #upload-picker input[type=file]::file-selector-button:focus {
    background: rgba(0, 34, 255, .05);
    cursor: pointer;
}
#upload-modal #upload-picker input[type=file]::file-selector-button:active {
    background: rgba(0, 34, 255, 0.03);
}

#upload-modal #upload-dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -100%;
    left: 50%;
    width: fit-content;
    z-index: 3;
    backdrop-filter: blur(10px);
}
#upload-modal input[type=checkbox]:checked~#upload-dialog {
    top: 20%;
    transform: translate(-50%);
}

#upload-modal input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
